{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- META -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="uisual" content="Made with Uisual (uisual.com)">
    <meta name="author" content="#">
    <meta name="description" content="#">
    <meta name="referrer" content="unsafe-url">
    <meta name="robots" content="index, follow">
    <!-- SPEED -->
    <link rel="preconnect" href="https://res.cloudinary.com">
    <link rel="dns-prefetch" href="https://res.cloudinary.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <!-- LINK -->
    <link rel="me" href="#">
    <link rel="canonical" href="#">
    <link rel="icon" type="image/png" href="#" sizes="48x48">
    <!-- PERFORMANCE -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap">
    <link rel="preload" as="style" href="{% static 'home/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
    <!-- TITLE -->
    <title>Heyzel&Erik Wedding | Home</title>
  </head>
  <body>
    <header role="banner" class="ui-section-header">
    </header>
    <main role="main">
      <section class="ui-section-hero">
        <div class="ui-layout-container">
          <!-- COPYWRITING -->
          <div class="ui-layout-column-6 ui-layout-column-center">
            <h1>Designnnnnn better.</h1>
            <p class="ui-text-intro">Lorem ipsum dolor sit amet, consectetur lit, enimad eiusmod tempor incididunt ut labore et dolore magna aliqua ullamco laboris nisi.</p>
            <!-- CTA -->
            <div class="ui-component-cta ui-layout-flex">
              <a href="#" role="link" aria-label="#" class="ui-component-button ui-component-button-normal ui-component-button-primary">Confirmar</a>
            </div>
          </div>
          <!-- IMAGE -->
          <img src="{% static 'home/img/ipad.png' %}" loading="lazy" alt="#" class="ui-section-hero--image">
        </div>
      </section>
      <section class="ui-section-feature">
        <div class="ui-layout-container">
          <div class="ui-section-feature__layout ui-layout-grid ui-layout-grid-2">
            <!-- IMAGE -->
            <img src="https://res.cloudinary.com/uisual/image/upload/assets/devices/ipad.png" loading="lazy" alt="#" class="ui-image-half-left">
            <!-- FEATURE -->
            <div>
              <h2>Nice Features</h2>
              <p class="ui-text-intro">Lorem ipsum dolor sit amet, consec adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Enim ad minim veniam, quis nostrud exercitation ullamco nisi equi.</p>
              <ul class="ui-component-list ui-component-list-feature ui-layout-grid">
                <li class="ui-component-list--item ui-component-list--item-check">Unlimited domain names.</li>
                <li class="ui-component-list--item ui-component-list--item-check">150&plus; components.</li>
                <li class="ui-component-list--item ui-component-list--item-check">Lifetime updates.</li>
                <li class="ui-component-list--item ui-component-list--item-check">24/7 technical support.</li>
              </ul>
            </div>
          </div>
          <div class="ui-section-feature__layout ui-layout-grid ui-layout-grid-2">
            <!-- FEATURE -->
            <div>
              <h2>Nice Features</h2>
              <p class="ui-text-intro">Lorem ipsum dolor sit amet, consec adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Enim ad minim veniam, quis nostrud exercitation ullamco nisi equi.</p>
              <ul class="ui-component-list ui-component-list-feature ui-layout-grid">
                <li class="ui-component-list--item ui-component-list--item-check">Unlimited domain names.</li>
                <li class="ui-component-list--item ui-component-list--item-check">150&plus; components.</li>
                <li class="ui-component-list--item ui-component-list--item-check">Lifetime updates.</li>
                <li class="ui-component-list--item ui-component-list--item-check">24/7 technical support.</li>
              </ul>
            </div>
            <!-- IMAGE -->
            <img src="https://res.cloudinary.com/uisual/image/upload/assets/devices/ipad.png" loading="lazy" alt="#" class="ui-image-half-right">
          </div>
          <div class="ui-section-feature__layout ui-layout-grid ui-layout-grid-2">
            <!-- IMAGE -->
            <img src="https://res.cloudinary.com/uisual/image/upload/assets/devices/ipad.png" loading="lazy" alt="#" class="ui-image-half-left">
            <!-- FEATURE -->
            <div>
              <h2>Nice Features</h2>
              <p class="ui-text-intro">Lorem ipsum dolor sit amet, consec adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Enim ad minim veniam, quis nostrud exercitation ullamco nisi equi.</p>
              <ul class="ui-component-list ui-component-list-feature ui-layout-grid">
                <li class="ui-component-list--item ui-component-list--item-check">Unlimited domain names.</li>
                <li class="ui-component-list--item ui-component-list--item-check">150&plus; components.</li>
                <li class="ui-component-list--item ui-component-list--item-check">Lifetime updates.</li>
                <li class="ui-component-list--item ui-component-list--item-check">24/7 technical support.</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section class="ui-section-close">
        <div class="ui-layout-container">
          <div class="ui-layout-column-6 ui-layout-column-center">
            <h2>Improve your work.</h2>
            <p class="ui-text-intro">Lorem ipsum dolor sit amet consectetur.</p>
            <!-- CTA -->
            <div class="ui-component-cta ui-layout-flex">
              <a href="#" role="link" aria-label="#" class="ui-component-button ui-component-button-normal ui-component-button-primary">Confirmar</a>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer role="contentinfo" class="ui-section-footer">
      <div class="ui-layout-container">
        <div class="ui-section-footer__layout ui-layout-flex">
          <!-- COPYRIGHT -->
          <p class="ui-section-footer--copyright ui-text-note"><small>&copy; erikvelasquez.com</small></p>
          <!-- MENU -->          
          <nav role="navigation" class="ui-section-footer--nav ui-section-footer--menu ui-layout-flex">
            <a href="{% url 'home:index' %}" role="link" aria-label="#" class="ui-text-note"><small>Home</small></a>
          </nav>
          <!-- SOCIAL -->
          <nav role="navigation" class="ui-section-footer--nav ui-section-footer--social ui-layout-flex">
          </nav>
        </div>
      </div>
    </footer>
  </body>
</html>