{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- META -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="#">
    <meta name="description" content="#">
    <meta name="referrer" content="unsafe-url">
    <meta name="robots" content="index, follow">
    <!-- SPEED -->
    <link rel="preconnect" href="https://res.cloudinary.com">
    <link rel="dns-prefetch" href="https://res.cloudinary.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <!-- LINK -->
    <link rel="me" href="#">
    <link rel="canonical" href="#">
    <link rel="icon" type="image/png" href="#" sizes="48x48">
    <link href="{% static 'invitation/img/favicon.ico' %}" rel="icon">
    <!-- PERFORMANCE -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap">
    <link rel="preload" as="style" href="{% static 'invitation/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'invitation/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'invitation/css/adminlte.min.css' %}">
    <!-- TITLE -->
    <title>Heyzel&Erik Wedding | Invitation</title>
  </head>
  <body>
    <header role="banner" class="ui-section-header">
    </header>
    <main role="main">
        {% if invitation.status %}
        <section class="ui-section-feature">
            <div class="ui-layout-container">
              <div class="ui-section-feature__layout ui-layout-grid ui-layout-grid-2">
                <!-- IMAGE -->
                <img src="{% static 'invitation/img/confirm.PNG' %}" loading="lazy" alt="#" class="ui-image-half-left">
                <!-- FEATURE -->
                <div>
                  <h2>Tu invitación ha sido confirmada</h2>
                  <p class="ui-text-intro">Invitación confirmada para {{ invitation.n_people_confirm }} personas.</p>
                </div>
              </div>
            </div>
          </section>
          {% endif %}
          {% if invitation.not_coming %}
        <section class="ui-section-feature">
            <div class="ui-layout-container">
              <div class="ui-section-feature__layout ui-layout-grid ui-layout-grid-2">
                <!-- IMAGE -->
                <img src="{% static 'invitation/img/cancel.PNG' %}" loading="lazy" alt="#" class="ui-image-half-left">
                <!-- FEATURE -->
                <div>
                  <h2>Sentimos que no puedas acompañarnos</h2>
                  <p class="ui-text-intro">Puedes avisarnos si cambias de opinión</p>
                </div>
              </div>
            </div>
          </section>
          {% endif %}
      <section class="ui-section-hero">
        <div class="ui-layout-container">
          <!-- COPYWRITING -->
          <div class="ui-layout-column-6 ui-layout-column-center">
            <h1>Queremos invitarte a nuestra boda</h1>
            <p class="ui-text-intro">Hola {{ invitation.name }}, queremos invitarte a nuestra boda. Esperamos que puedas acompañarnos este día tan especial.</p>
            <!-- CTA -->
            <div class="ui-component-cta ui-layout-flex">
              <a href="#" role="link" aria-label="#" class="ui-component-button ui-component-button-normal ui-component-button-primary" data-toggle="modal" data-target="#modal-default">{% if invitation.status %} Modificar Confirmación{% else %} Confirmar {% endif %}</a>
            </div>
          </div>
          <!-- IMAGE -->
          <img src="{% static 'invitation/img/invitation.PNG' %}" loading="lazy" alt="#" class="ui-section-hero--image">
        </div>
        <div class="modal fade" id="modal-default">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Confirmar asistencia</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form action="{% url 'invitation:confirm' invitation.id %}" method="post">
                    {% csrf_token %}
                    <fieldset>
                        <legend><h1>Número de personas</h1></legend>
                        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                        
                            <input type="number" name="number_n" id="number_n" value="{{ invitation.n_people_confirm }}" min="0" max="{{ invitation.n_people }}">
                            
                    </fieldset>
                    <input type="submit" value="Confirmar" class="btn btn-primary">
                    <a href="{% url 'invitation:notcoming'  invitation.id %}" role="link" aria-label="#" class="btn btn-danger"><small>No asistiré</small></a>
                    </form>
                </div>
                <!-- <div class="modal-footer justify-content-between">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                  <button type="button" class="btn btn-primary">Confirmar</button>
                </div> -->
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          <!-- /.modal -->
      </section>
      <section class="ui-section-feature">
        <div class="ui-layout-container">
          <div class="ui-section-feature__layout ui-layout-grid ui-layout-grid-2">
            <!-- IMAGE -->
            
            <!-- FEATURE -->
            <div>
              <h2>{{ invitation.name }}</h2>
              <p class="ui-text-intro">Queremos que seas parte de nuestra celebración. Con esta invitación cuentas con pases para {{ invitation.n_people }} personas.</p>
            </div>
            <img src="{{ invitation.image.url}}" loading="lazy" alt="#" class="ui-image-half-left">
          </div>
          <!-- <div class="ui-section-feature__layout ui-layout-grid ui-layout-grid-2">
            <div>
              <h2>Si quieres regalarnos...</h2>
              <p class="ui-text-intro">No tenemos lista de regalos así que, el efectivo es nuestro mejor aliado.</p>
            </div>
            <img src="{% static 'invitation/img/cash.PNG' %}" loading="lazy" alt="#" class="ui-image-half-right">
          </div> -->
          <div class="ui-section-feature__layout ui-layout-grid ui-layout-grid-2">
            <!-- IMAGE -->
            <img src="{% static 'invitation/img/dressCode.PNG' %}" loading="lazy" alt="#" class="ui-image-half-left">
            <!-- FEATURE -->
            <div>
              <h2>Semi formal</h2>
              <p class="ui-text-intro">Será una celebración muy familiar pero aprovechamos la ocasión para ponernos guapos y estar cómodos en esta primavera.</p>
            </div>
          </div>
          {% if invitation.civil %}
          <div class="ui-section-feature__layout ui-layout-grid ui-layout-grid-2">
            <!-- FEATURE -->
            <div>
              <h2>Donde daremos el sí</h2>
              <p class="ui-text-intro">Nos puedes acompañar a la ceremonia civil, será íntimo y muy breve, en el Parque Quinta del Berro.</p>
            </div>
            <!-- IMAGE -->
            <img src="{% static 'invitation/img/civilCeremony.PNG' %}" loading="lazy" alt="#" class="ui-image-half-right">
          </div>
          {% endif %}
        </div>
      </section>
      <section class="ui-section-close">
        <div class="ui-layout-container">
          <div class="ui-layout-column-6 ui-layout-column-center">
            <h2>Celebraremos en:</h2>
            <p class="ui-text-intro">Restaurante El Torreón.</p>
              <p class="ui-text-intro">Carretera Crito de El Pardo, 3. El Pardo, 28048 Madrid.</p>
            <!-- CTA -->
            <div class="ui-component-cta ui-layout-flex">
                <a href="#" role="link" aria-label="#" class="ui-component-button ui-component-button-normal ui-component-button-primary" data-toggle="modal" data-target="#modal-default">{% if invitation.status %} Modificar Confirmación{% else %} Confirmar {% endif %}</a>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer role="contentinfo" class="ui-section-footer">
      <div class="ui-layout-container">
        <div class="ui-section-footer__layout ui-layout-flex">
          <!-- COPYRIGHT -->
          <p class="ui-section-footer--copyright ui-text-note"><small>&copy; erikvelasquez.com</small></p>
          <!-- MENU -->          
          <nav role="navigation" class="ui-section-footer--nav ui-section-footer--menu ui-layout-flex">
            <a href="{% url 'home:index' %}" role="link" aria-label="#" class="ui-text-note"><small>Home</small></a>
          </nav>
          <!-- SOCIAL -->
          <nav role="navigation" class="ui-section-footer--nav ui-section-footer--social ui-layout-flex">
          </nav>
        </div>
      </div>
    </footer>
    <!-- jQuery -->
    <script src="{% static 'invitation/plugins/jquery/jquery.min.js' %}"></script>
    <!-- Bootstrap 4 -->
    <script src="{% static 'invitation/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static 'invitation/js/adminlte.min.js' %}"></script>
    
  </body>
</html>